<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles/category.css">
</head>
<body>
    <!-- Category Section -->
<section class="flex-row categories-panel" id="categoriesPanel">

    <!-- Default categories (Dailies and Work) -->
    <div class="default-category">
        <input type="radio" id="dailies" name="category" value="dailies" checked="true"></input>
        <label for="dailies" class="category-label active font">Dailies</label>
    </div>
    <div class="default-category">
        <input type="radio" id="work" name="category" value="work"></input>
        <label for="work" class="category-label font">Work</label>
    </div>

    <% if(locals.categoryList) { %>
        <% for (const [key, value] of Object.entries(categoryList)) { %>
            <div class="extra-category" id="<%= value[1] %>">
                <input type="radio" id="<%= value[1] %>" name="category" value="<%= value[1] %>">
                <label for="<%= value[1] %>" class="category-label font active"><%= value[0] %></label>
                <button class="remove-category" id="removeCategory" onclick="">
                    <i class="icon fa-solid fa-xmark"></i>
                </button>
            </div>
        <% } %>
    <% } %>

    <!-- Add New Category Button -->
    <button id="category-add" class="add-icon font" title="Add Category" onclick="inputCategory()"><i class="icon fa-solid fa-plus"></i></button>
</section>

<!-- Custom Script (Category) -->
<script src="scripts/category.js"></script>
</body>
</html>