<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/069ddac36c.js" crossorigin="anonymous"></script>

    <!-- Customs CSS -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/category.css">
    <link rel="stylesheet" href="styles/task.css">

    <title>Home</title>
</head>
<body>

<!-- Header -->
<%- include("partials/header.ejs") %>

<!-- Category -->
<section class="flex-row categories-panel" id="categoriesPanel">

    <!-- Default categories (Dailies and Work) -->
    <div class="default-category">
        <input type="radio" id="dailies" name="category" value="dailies" checked="true"></input>
        <label for="dailies" class="category-label active font">Dailies</label>
    </div>
    <div class="default-category">
        <input type="radio" id="work" name="category" value="work"></input>
        <label for="work" class="category-label font">Work</label>
    </div>

    <!-- If category list exist only then render its content -->
    <% if(locals.categoryList) { %>
        <!-- Iterate through the Category list object and render them according to ID and Category name -->
        <% for (const [key, value] of Object.entries(categoryList)) { %>
            <div class="extra-category" id="<%= key %>">
                <input type="radio" id="<%= key %>" name="category" value="<%= key %>">
                <label for="<%= key %>" class="category-label font"><%= value[0] %></label>
                <form method='POST' id='newAddedCategoryForm'>
                    <button class="remove-category" id="removeCategory" onclick="">
                        <i class="icon fa-solid fa-xmark"></i>
                    </button>
                </form>
            </div>
        <% } %>
    <% } %>

    <!-- Check if there are at most 2 categories and then add new category button if there are less -->
    <% if(Object.keys(categoryList).length != 2) { %>
        <button id="category-add" class="add-icon font" title="Add Category" onclick="inputCategory()"><i class="icon fa-solid fa-plus"></i></button>
    <% } %>
</section>


<!-- Task Section -->
<section class="flex-row task-panel">

    <!-- Default Task Sections (Dailies and Work) -->
    <div class="dailies" id="forDailies">
        <% if(locals.todoList) { %>
            <% for (const [key, value] of Object.entries(todoList)) { %>
                <% if(value[2] == 'dailies') { %>
                <p><%= value[0] %></p><p><%= value[1] %></p>
                <% } %>
            <% } %>
            <form class="" action="/add" method="POST">

                <input class="" type="text" name="todo" id="todo" autocomplete="off" placeholder="What to do?">
                <input class="" type="number" name="time" id="time" autocomplete="off" placeholder="Time in minutes">
                <input class="" type="hidden" name="category" value="dailies">

                <button id="" class="button todo-submit" type="submit" aria-label="add">
                    <i class='icon fa-solid fa-check'></i>
                </button>
            </form>
        <% } else { %>
            <form class="" action="/add" method="POST">

                <input class="" type="text" name="todo" id="todo" autocomplete="off" placeholder="What to do?">
                <input class="" type="number" name="time" id="time" autocomplete="off" placeholder="Time in minutes">
                <input class="" type="hidden" name="category" value="dailies">

                <button id="" class="button todo-submit" type="submit" aria-label="add">
                    <i class='icon fa-solid fa-check'></i>
                </button>
            </form>
        <% } %>
    </div>
    <div class="work" id="forWork">
        <% if(locals.todoList) { %>
            <% for (const [key, value] of Object.entries(todoList)) { %>
                <% if(value[2] == 'work') { %>
                <p><%= value[0] %></p><p><%= value[1] %></p>
                <% } %>
            <% } %>
            <form class="" action="/add" method="POST">

                <input class="" type="text" name="todo" id="todo" autocomplete="off" placeholder="What to do?">
                <input class="" type="number" name="time" id="time" autocomplete="off" placeholder="Time in minutes">
                <input class="" type="hidden" name="category" value="work">

                <button id="" class="button todo-submit" type="submit" aria-label="add">
                    <i class='icon fa-solid fa-check'></i>
                </button>
            </form>
        <% } else { %>
            <form class="" action="/add" method="POST">

                <input class="" type="text" name="todo" id="todo" autocomplete="off" placeholder="What to do?">
                <input class="" type="number" name="time" id="time" autocomplete="off" placeholder="Time in minutes">
                <input class="" type="hidden" name="category" value="work">

                <button id="" class="button todo-submit" type="submit" aria-label="add">
                    <i class='icon fa-solid fa-check'></i>
                </button>
            </form>
        <% } %>
    </div>

    <% if(locals.categoryList) { %>
        <% let count=3;for (const [key, value] of Object.entries(categoryList)) { %>
            <div class="category-<%- count++ %> <%= key %>">
                <h1>Kiklu</h1>
            </div>
        <% } %>
    <% } %>
</section>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Custom Script (Task) -->
<script src="scripts/category.js"></script>
<script src="scripts/task.js"></script>
</body>
</html>